<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <style>@import url(/public/css/syntax/{{site.highlighter-theme}}.css);</style>
  <title>{{ site.title }}</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <!-- <link href="/public/css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="/public/css/style.css" rel="stylesheet">
  {% if page.mathjax %}
  <script>
	MathJax = {
	  tex: {
		inlineMath: [['$', '$'], ['\\(', '\\)']]
	  },
	  svg: {
		fontCache: 'global'
	  }
	};
	</script>
	<script type="text/javascript" id="MathJax-script" async
	  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
	</script>
	{% endif %}
  <body>
  	<div class="container"> 
		<div class="sidebar">
			{% include sidebar.html %}
		</div>
		<div class="content">
			{{ content }}
		</div>
	</div>

	<script type="text/javascript">
		(function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
		(w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
		e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
		})(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');
		
		_st('install','wkWKxuCFKTiCvqKMF6YV','2.0.0');
	  </script>
  </body>
</html>